@import "styles/_mixin.scss";

.Segment{
  margin: 60px 10px 10px !important; 
  max-width: 100% !important;
  overflow: hidden !important;
}

@include desktop {
  .Segment{
    padding: 50px 100px !important;
    margin: 70px 150px !important;
  }
}