@import "styles/_mixin.scss";

.Div{
  display: block;
  margin: auto;
  width: fit-content;
}

.Div.Inline{
  display: inline-block;
}

.Bold{
  font-weight: 1000;
}

@include mobile {
  .Div{
    display: none !important;
  }
}