@import "styles/_mixin.scss";

.Div{
  display: none;
  margin: auto;
  width: fit-content;
}

.Bold{
  font-weight: 1000;
}

@include mobile {
  .Div{
    display: block;
  }

  .Div.Inline{
    display: inline-block;
  }
}