.Menu{
  transition: all 1s ease !important
}

.Dimmed{
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: black;
  z-index: 13;
  top: 0;
  opacity: 0.5;
  transition: all 1s ease !important;
}

.FixedMenu{
  padding: 5px 0 !important;
  margin: 0 !important;
  z-index: 10 !important;
  position: fixed !important;
  width: 100% !important;
  top: 0px !important;
  border-radius: 0px !important;
  border-bottom-right-radius: 1em 1em !important;
  border-bottom-left-radius:  1em 1em !important;
}