@use "sass:map";
@import "./variables";

@mixin mobile {
  @media (min-width: map.get($breakpoint, "mobile")) and (max-width: map.get($breakpoint, "tablet")) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map.get($breakpoint, "tablet")) and (max-width: map.get($breakpoint, "desktop")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map.get($breakpoint, "desktop")) {
    @content;
  }
}