tr td:first-childtr th:first-child {
  border-left: none;
}
tr td, tr th {
  border-left: 1px solid rgba(34,36,38,.1);
}
td {
  padding: .5em .7em;
}
td.collapsing, th.collapsing {
  width: 1px;
  white-space: nowrap;
}
tr td {
  border-top: 1px solid rgba(34,36,38,.1);
}
td {
  padding: .78571429em .78571429em;
  text-align: inherit;
}
td, th {
  -webkit-transition: background .1s ease,color .1s ease;
  transition: background .1s ease,color .1s ease;
}
user agent stylesheet
td {
  display: table-cell;
  vertical-align: inherit;
}